* {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --text-primary: #2b2d42;
  --text-secondary: rgba(0, 0, 0, 0.75);
  --text-tertiary: white;

  --bg-primary: #edf2f4;
  --bg-secondary: #2b2d42;
  --bg-tertiary: white;

  --button-color: #d90429;
  --button-text-color: white;
  --button-color-focus: #2b2d42;

  --logo-color: #d90429;
}

html {
  font-family: "Roboto", sans-serif;
}

#nav__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--bg-primary);
}

#nav__top-content p {
  font-size: 24px;
  color: #2b2d42;
}

#nav__top-content #logo {
  color: var(--logo-color);
  font-weight: bolder;
  font-size: 30px;
}

#nav__bottom-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 15%;
  background-color: var(--bg-secondary);
}

#nav__bottom-content a {
  text-decoration: none;
  color: var(--text-tertiary);
  transition: all 0.3s;
}
#nav__bottom-content a:hover,
#nav__bottom-content a:focus {
  color: var(--bg-primary);
}

footer {
  width: 100%;
  height: 100px;
  background-color: var(--bg-primary);
}

#main__title {
  font-size: 26px;
  color: var(--text-secondary);
  font-weight: 600;
  margin-bottom: 40px;
}
